{% extends 'web/main.html' %}
{% load static %}

{% block title %}
<title>Little babyki</title>
{% endblock title %}

{% block content %}
    <header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img src="{% static 'img/logo-heart.png' %}" alt=""></a>
			</figure>
			<h1 class="animated fadeInDown delay-07s">Welcome to Little Babyki</h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li>* Детская одежда Handmade *</li>
			</ul>
			<a class="link animated fadeInUp delay-1s servicelink" href="#service">Начнем!</a>
		</div>
	</header>



	<section class="main-section" id="service">

		<!--main-section-start-->

		<div class="container">
			<h2>Индивидуальные заказы</h2>
			<h6>Почувствуй себя дизайнером!</h6>
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">

					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-gear"></i>
						</div>
						<div class="service-list-col2">
							<h3>Изготовление одежды на заказ</h3>
							<p>Мы можем изготовить одежду по вашему индивидуальному заказу. Вы выбираете ткань,
							фасон, а мы изготовляем и отправляем вам!</p>
						</div>
					</div>
					
					<div class="service-list">
						<div class="service-list-col1">
							<i class="fa fa-medkit"></i>
						</div>
						<div class="service-list-col2">
							<h3>24/7 Поддержка</h3>
							<p>Оформляйте заказы в любое время года и  в любое время суток.</p>
						</div>
					</div>
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img src="{% static 'img/prev/1.jpg' %}" alt="">
				</figure>

			</div>
		</div>
	</section>


<section class="main-section alabaster">

		<!--main-section alabaster-start-->

		<div class="container">
			<div class="row">
				<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="{% static 'img/prev/2.jpg' %}" alt="">
				</figure>
				<div class="col-lg-7 col-sm-8 featured-work">
					<h2>Family Look</h2>
					<P class="padding-b">Семья - это главное в жизни большинства людей. Поддержать сплоченность и идиллию
					можно так же с помощью одежды! Представляем вам стиль Family Look, который стал модным трендом современности и завоевал любовь миллионов семей по всему миру.</P>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-gift"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>И в праздники и в будни</h3>
							<p>Стиль Family Look без проблем впишется в повседневные варианты, и усовершенствует удачные нарядные комплекты.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fa fa-magic"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>Платья для прекрасных половинок семьи</h3>
							<p>Модные мамы всегда являются хорошим примером стиля для своих дочурок. Девочки с малых лет пытаются подражать мамам, одевая их платья и другие наряды, примеряя обувь на высоком каблуке, и даже пробуя накраситься, как мама. </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-dashboard"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>Одежда для сильных и мужественных</h3>
							<p>Папа еще с детства формирует в сынишке определенный характер и манеру поведения, которые позволили бы сыну в будущем стать лидером жизни. Вещи для авторитетного папы и подрастающего сына могут быть схожи полностью или частично. Комплект можно скомбинировать из разных вещей, но в одном стилистическом ключе.</p>
						</div>
					</div>
					<a class="Learn-More" href="#">Learn More</a>
				</div>
			</div>
		</div>
	</section>



	<section class="main-section client-part" id="client">
		<!--main-section client-part-start-->
		<div class="container">
			<b class="quote-right wow fadeInDown delay-03"><i class="fa fa-quote-right"></i></b>
			<div class="row">
				<div class="col-lg-12">
					<p class="client-part-haead wow fadeInDown delay-05">Сделано с любовью, сделано для Вас!</p>
				</div>
			</div>
			<ul class="client wow fadeIn delay-05s">
				<li><a href="#">
            	<img src="{% static 'img/client-pic2.jpg' %}" alt="">
                <h3>Кушнаренко Лена</h3>
                <span>Дизайнер</span>
            </a></li>
			</ul>
		</div>
	</section>


	<!--main-section client-part-end-->

	<div class="c-logo-part">
		<!--c-logo-part-start-->
		<div class="container">
		</div>
	</div>



	<section class="business-talking">

		<!--business-talking-start-->

		<div class="container">
			<h2>Связь с нами</h2>
		</div>
	</section>


	<!--business-talking-end-->

	<div class="container">
		<section class="main-section contact" id="contact">

			<div class="row">
				<div class="col-lg-6 col-sm-7 wow fadeInLeft">

					<div class="contact-info-box phone clearfix">
						<h3><i class="fa fa-phone"></i>Тел.:</h3>
						<span>8-928-425-88-89</span>
					</div>
					<div class="contact-info-box email clearfix">
						<h3><i class="fa fa-pencil"></i>email:</h3>
						<span>lenochka_neformat@yandex.ru</span>
					</div>

					<ul class="social-link">
						<li class="instagram"><a href="//www.instagram.com/little_babyki_accessories/">
							<i class="fa fa-instagram"></i></a></li>
						<li class="vk"><a href="//vk.com/little_babyki">
							<i class="fa fa-vk"></i></a></li>
					</ul>
				</div>
<!--				<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">-->
<!--					<div class="form">-->

<!--						<div id="sendmessage">Your message has been sent. Thank you!</div>-->
<!--						<div id="errormessage"></div>-->
<!--						<form action="" method="post" role="form" class="contactForm">-->
<!--							<div class="form-group">-->
<!--								<input type="text" name="name" class="form-control input-text" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />-->
<!--								<div class="validation"></div>-->
<!--							</div>-->
<!--							<div class="form-group">-->
<!--								<input type="email" class="form-control input-text" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />-->
<!--								<div class="validation"></div>-->
<!--							</div>-->
<!--							<div class="form-group">-->
<!--								<input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />-->
<!--								<div class="validation"></div>-->
<!--							</div>-->
<!--							<div class="form-group">-->
<!--								<textarea class="form-control input-text text-area" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>-->
<!--								<div class="validation"></div>-->
<!--							</div>-->

<!--							<div class="text-center"><button type="submit" class="input-btn">Send Message</button></div>-->
<!--						</form>-->
<!--					</div>-->
<!--				</div>-->
			</div>
		</section>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="footer-logo"><a href="#"><img src={"% static 'img/footer-logo.png' %}" alt=""></a></div>
			<span class="copyright">&copy; Igor Sergeev Inc. 2021. All Rights Reserved</span>
			<div class="credits">
				<!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Knight
        -->
				Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
			</div>
		</div>
	</footer>

{% endblock content %}